body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #70757c; 
}
#wrapper {
  margin: auto;
  width: 880px;
  margin-top: 50px;
}
#main {
  color: rgba(255, 255, 255, 0.9);
  margin: auto;
  width: 770px;
  border-radius: 20px;
  background-color:rgba(0, 0, 0, 0.1);
  padding: 35px;
  padding-left: 45px;
  padding-bottom: 0;
  margin-bottom: 20px;
}
h1 {
}
#dateToday {
  font-size: 20px;
}
#fourDays {
  color: rgba(255, 255, 255, 0.9);
  width: 770px;
  text-align: center;
  height: 250px;
  margin-left: 45px;
}
.row {
  width: 160px;
  height: 180px;
  margin: 15px;
  border-radius: 20px;
  display: inline-block;
  background-color:rgba(0, 0, 0, 0.1);
  padding-top: 30px;
}
.dayOne {
  margin-left: 0;
}
.row h3{
  margin: 0;
  margin-bottom: 10px;
  font-size: 26px;
}
.row img {
  position: relative;
  left: -10px;
}
.row .status {
  font-size: 25px;
  position: relative;
  bottom: 18px;
}
.row p {
  margin: 8px;
}
.row p.temp {
  font-size: 30px;
  position: relative;
  bottom: 10px;
}
#tempToday {
  height: 150px;
  display: inline-block;
  position: relative;
  top: -25px;
}
#tempToday .temp {
  font-size: 80px;
}
#tempToday .degrees {
  font-size: 80px;
}
#tempToday .icon {
  font-size: 80px;
  margin-left: 40px;
}
#tempToday .condition {
  font-size: 22px;
  margin-left: 30px;
  height: 70px;
  float: right;
  margin-top: 34px;
  width: 350px;
}
#tempToday #top {
  float: left;
  display: inline-block;
  width: 100%;
  position: relative;
  top: -8px;
}
#tempToday #bottom {
  float: left;
  display: inline-block;
  width: 100%;
  position: relative;
  top: 4px;
}
button {
  position: relative;
  bottom: 20px;
  font-size: 40px;
  color: white;
  border: none;
  background: #4d4d4d;
  border-radius: 7px;
  outline: none;
  cursor: pointer;
}
#searchbox {
  margin: auto;
  width: 400px;
  color: white;
  margin-bottom: 50px;
}
#search {  
  background-color:rgba(0, 0, 0, 0.2);
  width: 380px;
  height: 30px;
  color: white;
  padding: 10px;
  font-size: 17px;
  padding-left: 15px;
  border: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}
ul {
  padding: 0;
  cursor: pointer;
  background-color: rgba(77, 77, 77, 1);
  width: 380px;
  border-radius: 5px;
}
li {
  list-style-type: none;
  padding: 7px;
  padding-left: 15px;
  width: 380px;
  color: white;
}
li:hover {
  background-color: #333;
}
.ui-helper-hidden-accessible {
  display:none;
}